body {
  padding: 0;
  margin: 0;
  border: 0;
}


.header {
  background-color: #620A59;
  padding: 1rem;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  width: 75rem;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: space-around;
}

.header img {
  height: 90px;
  z-index: 100;
  margin-right: 30rem;
}

.h1header {
  color: #C0C0C0;
}

body {
  background-image: url(../Imagens/FundoInicial.gif);
}

.content-container {
  background-color: #620A59;
  padding: 3rem;
  width: 61rem;
  height: 75rem;
  margin-left: 5rem;
  border-radius: 30px 30px 30px 30px;
}

.titulo {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 236%;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  top: -2%;
  margin-bottom: 6%;
}


.SonicFrontiers {
  display: flex;

}

.SonicFrontiers a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 123%;
  position: absolute;
  top: 83%;
  right: 27%;
  display: flex;
}

.SonicFrontiers img {
  position: relative;
  top: 30%;
  left: 6%;
  width: 30rem;
  height: 16rem;
}

.FinalFantasyVII {
  display: flex;
  position: relative;
  top: 11%;
  left: 3%;
}

.FinalFantasyVII a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 50%;
  right: 7%;
  font-size: 123%;
}

.FinalFantasyVII img {
  width: 30.2rem;
  height: 16rem;
  position: relative;
  top: 93%;
  right: -2.7%;
}

.Persona5Royal {
  display: flex;
  position: relative;
  bottom: -22%;
  left: 0%;
}

.Persona5Royal a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 123%;
  position: absolute;
  top: 47%;
  right: 21%;
  display: flex;
}

.Persona5Royal img {
  position: relative;
  bottom: 30%;
  left: 6%;
  width: 30.3rem;
  height: 16rem;
}