body {
    padding:0;
    margin:0;
    border:0
}

.header {
    background-color: #620A59;
    padding: 10px;
    text-align: center;

}

.h1header {
    color: #C0C0C0;
}

.loginBotao {
    background-color: black;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 34px;
    margin: 0px;
}

.Registro{
    cursor: pointer;
}